.product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-list {
  width: 300px;
  height: auto;
  padding: 10px;
  box-shadow: 3px 6px 21px 0px rgba(0, 0, 0, 0.64);
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.product-list img {
  width: 100%;
  height: auto;
  max-height: 250px;
  margin-bottom: 20px;
}

.product-list > p {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.product-list div {
  display: flex;
  justify-content: space-between; /* Added to align items side by side */
  align-items: center; /* Added to vertically center items */
  margin-top: 10px;
}

.product-list div p {
  /* Adjusted width and added margin for better spacing */
  width: 50%;
  margin-right: 10px;
}

.product-list div button {
  /* padding: 0.5rem 2rem; */
  padding: 10px 20px;
  background-color: tomato;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

button{
  cursor: pointer;
}